# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Super Admin
SUPER_ADMIN_EMAIL=super@awtad.com
SUPER_ADMIN_PASSWORD=Awtad@2025

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=منظومة عتاد
